<div class="container">

  <h1>Create article</h1>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>

  <form novalidate ng-submit="submit()">
    <div class="form-group">
      <label for="formTitle">Title</label>
      <input ng-model="article.title" type="text" class="form-control" id="formTitle" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="formSlug">Slug</label>
      <input ng-model="article.slug" type="text" class="form-control" id="formSlug" placeholder="Slug">
    </div>
    <div class="form-group">
      <label for="formBody">Body</label>
      <textarea ng-model="article.text" class="form-control" name="formBody" id="" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>