<div class="container">

  <div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>

  <div class="alert alert-success" role="alert" ng-show="success">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    <strong>Registrations success!</strong>
    <a class="btn btn-default" href="#" role="button">Login</a>
  </div>

  <form class="form-signin" novalidate ng-hide="success" ng-submit="submit()">
    <h2 class="form-signin-heading">Registration</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>

  <div>
    or <a href="#/login">login</a>
  </div>
</div>